@import "tailwindcss";


@theme{
    --color-primary:#FF3366;
    --color-secondary:#FF3366;
    --color-accent:#ED025A;
    --color-main-bg:#E9E9E9;
}

/* ---------- custom entrance animation ---------- */
@keyframes fade-in-up {
  0%   { opacity:0; transform:translateY(20px) scale(0.95); }
  100% { opacity:1; transform:translateY(0)    scale(1);    }
}
    
#root {
    font-family: "Poppins", sans-serif;
}